---
Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
LineEndingStyle: LF
InsertNewlineAtEOF: true
OneLineFormatOffRegex: ^// NO FORMAT

AlignConsecutiveMacros: Consecutive
AlignConsecutiveShortCaseStatements:
    Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments:
    Kind: Always
#    AlignPPAndNotPP: true
PointerAlignment: Right

AlignAfterOpenBracket: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseExpressionOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeBraces: Attach
BreakBeforeCloseBracketFunction: true
BreakBeforeOpenBracketIf: true
BreakBeforeOpenBracketLoop: true
BreakBeforeOpenBracketSwitch: true

InsertTrailingCommas: Wrapped

NumericLiteralCase:
    ExponentLetter: Lower
    HexDigit: Upper
    Prefix: Lower
    Suffix: Lower

IndentCaseLabels: true

SortIncludes:
    Enabled: true
    IgnoreCase: false
#    IgnoreExtension: true
SpaceAfterCStyleCast: true
